*.o
*.swp
*~
.deps
Makefile
Makefile.in
VERSION
aclocal.m4
autom4te.cache
compile
config.guess
config.h
config.h.in
config.log
config.status
configure
depcomp
dist
embedded_config.h
genimbed
install-sh
missing
packaging/rpm/simvacation.spec
simunvacation
simvacation
simvacation-*.tar.*
simvacreport
stamp-*
